body{
color: white;
background-color: black;
margin: 50px;

}

.container{
   display: flex;  
   flex: 0;


}

.victor{
   margin-right: 100px;
   flex-wrap: nowrap;
  
}
.articles{
   margin-right: 20px;
}

.chats{
   margin-right: 20px;

}
.awards{
   margin-right: 20px;
}

   #button{
    background-color: yellow;
    padding: 10px;
    margin-left: auto;
    align-self: flex-end;
    flex: 0;
   
   }
   .svgs{
      display: flex;
      margin: 40px;
      gap: 20px;
      
   }
   #box1{
      width: 250px;
   }
   #box2{
      width: 250px;
   }
  
   .grid {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      grid-gap: 20px;
    }
    .paragraph{
      display: grid;
      grid-template-columns: repeat(2, 3fr);
      grid-gap: 20px;
      background-color: dimgrey;
      padding: 20px;
    }
    
     
    
    

